* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI';
    color: white;
}

body {
    background-color: #121212;
}

.login {
    margin-top: 100px;
    background-color: #121212;
}

form {
    padding: 50px;
    max-width: 70vw;
    max-height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    border-radius: 36px;
}

.detail {
    background-color: black;
}

.flex {
    display: flex;
    justify-content: center;
    flex-direction: column;

}

div label {
    font-weight: 500;
    font-size: 20px;
}

form div {
    background-color: black;
    padding: 10px 0px;
}

.placeholder-width {
    background-color: black;
    width: 300px;
    height: 35px;
    border-radius: 50px;
    padding: 0px 25px;
}

.submit {
    font-size: 15px;
    font-weight: 700;
    margin: 5px;
    outline: none;
    border: none;
    color: black;
    background-color: #1abc54;
}

.outline {
    border-color: white;
}